<form class="row g-3" method="GET" action="/">
  <div class="col-auto">
    <label for="search-input">Nhập từ khóa</label>
    <input type="text" name="haha">
    <input type="text" name="q" class="form-control" id="search-input" placeholder=".......">
    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
  </div>
</form>